/*General*/
html {
  font-size: 8px;
}
.frame {
  display: flex;
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
}
.item {
  display: flex;
}

/*Header*/
header {
  position: fixed;
  justify-content: space-between;
  height: 8rem;
  font-size: 3rem;
}
header img {
  height: 4rem;
  margin-left: 3rem;
}
header ul li {
  margin: 1rem;
}
header ul li:last-child {
  margin-right: 3rem;
}
