/*General*/
html {
  font-size: 8px;
}
.frame {
  display: flex;
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
}
.item {
  display: flex;
}

/*Header*/
header {
  position: fixed;
  justify-content: space-between;
  z-index: 50;
  height: 8rem;
  background-color: #FFF;
  font-size: 3rem;
}
header img {
  height: 4rem;
  margin-left: 3rem;
}
header ul li {
  margin: 1rem;
}
header ul li:last-child {
  margin-right: 3rem;
}

/*Banner*/
.banner {
  padding-top: 8rem;
  background-color: #FFF;
  justify-content: flex-start;
}
.banner img {
  margin: 32px 24px;
  width: 60%;
}
